*{
    margin: 0 auto;
    font-size: 20px;
    padding: 0px;
    font-weight: bold;
}
.main{
    padding: 20px;
    border: 1px solid gray;
    width: 400px;
    margin-top: 100px ;
    background-color: rgb(7, 7, 49);
    border-radius: 10px;
}
.input{
    width:95%;
    height: 70px;
    border-radius: 10px;
    margin: 10px 5px 10px 6px;
    font-size: 28px;
  
}
.btn{
    width: 91px;
    border-radius: 10px;
    height: 75px;
    margin: 2px 1px 3px 3px;
    background-color: darkgrey;
}